<div class="create">
  
  <b>Enter data to update CarSharing company:</b>
  <p>Company id:
    <input type="text" size="40" [(ngModel)] = "updateInfo.id">
  </p>
  <p>Company title:
    <input type="text" size="40" [(ngModel)] = "updateInfo.title">
  </p>
  <p>Company description:
    <input type="text" size="40" [(ngModel)] = "updateInfo.description">
  </p>
  <p>Street name:
    <input type="text" size="40" [(ngModel)] = "createInfo.location.streetName">
  </p>
  <p>House number:
    <input type="text" size="40" [(ngModel)] = "createInfo.location.houseNumber">
  </p>
  <button class="createButton" (click)="updateCarSharing()">Update CarSharingCompany</button><br><br>
  
  Car Sharing:
  <div>
    Title: "{{carSharingInfo.title}}"
  </div>
  <div>
    Description: "{{carSharingInfo.description}}"
  </div>
  <div>
    Location: "{{carSharingInfo.location.streetName}}, {{carSharingInfo.location.houseNumber}}"
  </div>
</div>
  